.govuk-main-wrapper {
  min-height: 600px;
}
.splash-image{
  width: 100vw;
  height: 100vh;
  object-fit:contain;
}

.govuk-select--small{
  min-width: 5em;
  max-width: 5em;
}

.action-shelf {
  display: flex;
  align-items: end;

  & > div:not(:last-child) {
    margin-right: 16px;
  }
}