services:
  redis:
    image: redis:8.4
    networks:
      - hmpps
    environment:
      ALLOW_EMPTY_PASSWORD: yes

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth
    networks:
      - hmpps
    healthcheck:
      test: ["CMD", "curl", "-f", "http://hmpps-auth:9090/auth/health"]
      interval: 5s
      retries: 60
    environment:
      SERVER_PORT: 9090
      SPRING_PROFILES_ACTIVE: dev
      APPLICATION_AUTHENTICATION_UI_ALLOWLIST: 0.0.0.0/0
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: DEBUG

  oasys-ui:
    image: ghcr.io/ministryofjustice/hmpps-assess-risks-and-needs-oastub-ui:${APP_VERSION:-latest}
    build:
      context: ../
      target: production
    networks:
      - hmpps
    depends_on:
      - redis
      - hmpps-auth
    healthcheck:
      test: [ "CMD", "node", "./docker/healthcheck.js" ]
      interval: 5s
      retries: 60
    environment:
      REDIS_ENABLED: "true"
      SYSTEM_CLIENT_SECRET: clientsecret
      SYSTEM_CLIENT_ID: hmpps-assess-risks-and-needs-oastub-ui
      SESSION_SECRET: sessionsecret
      REDIS_HOST: redis
      INGRESS_URL: http://localhost:7072
      HMPPS_AUTH_URL: http://hmpps-auth:9090/auth
      TOKEN_VERIFICATION_ENABLED: "false"
      TOKEN_VERIFICATION_API_URL: http://hmpps-auth:9091/verification
      HMPPS_ARNS_HANDOVER_URL: http://arns-handover:7070
      COORDINATOR_API_URL: "http://coordinator-api:8080"
      ENVIRONMENT_NAME: DEV
      AUDIT_ENABLED: "false"
      PRODUCT_ID: FOO

networks:
  hmpps:
