{% extends "../partials/layout.njk" %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set hideBackLink = true %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div>
        <h1 class="govuk-heading-l">{{ options.pageTitle }}</h1>
 

        {{ govukInput({
          label: {
            text: "Handover link"
          },
          id: "one-time-link",
          name: "one-time-link",
          disabled: true,
          value: data.link
        }) }}

        <div id="one-time-link-notification" class="govuk-visually-hidden">
          {{ mojBanner({
            type: 'success',
            text: 'Handover link has been copied',
            iconFallbackText: 'Success'
          }) }}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Open",
            href: data.link,
            attributes: {
              target: "_blank"
            }
          }) }}

          {{ govukButton({
            id: "one-time-link-copy",
            text: "Copy to clipboard",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/otl.js"></script>
{% endblock %}
