{% extends "../partials/layout.njk" %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../partials/notifications.njk" import notifications %}

{% set hideBackLink = true %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  {{ notifications() }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">
        Launch into {{ data.targetService }}
      </h1>

      <div>
        {{ govukInput({
          label: {
            text: "Handover link"
          },
          id: "one-time-link",
          name: "one-time-link",
          disabled: true,
          value: data.link
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Open",
            href: data.link,
            attributes: {
              target: "_blank"
            }
          }) }}

          {{ govukButton({
            id: "one-time-link-copy-btn",
            text: "Copy to clipboard",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
