{% extends "../partials/layout.njk" %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../partials/notifications.njk" import notifications %}
{% from "../partials/tabs/subject-details-tab.njk" import subjectDetailsTab %}
{% from "../partials/tabs/practioner-details-tab.njk" import practionerDetailsTab %}
{% from "../partials/tabs/versions-tab.njk" import versionsTab %}
{% from "../partials/tabs/criminogenic-needs-tab.njk" import criminogenicNeedsTab %}

{% set hideBackLink = true %}

{% block content %}
  {{ notifications() }}

  <form id="form" method="post" action="{{ action }}">
    <h1 class="govuk-heading-l">
      Generate and customize handover
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <label class="govuk-label govuk-label--s" for="target-service">
          {{ options.fields["target-service"].text }}
        </label>
        <div>
          <div class="govuk-!-display-inline-block">
            {{ govukSelect({
              id: options.fields["target-service"].code,
              name: options.fields["target-service"].code,
              hint: options.fields["target-service"].hint,
              items: options.fields["target-service"].options
            }) }}
          </div>
          {{ govukButton({
            text: 'Create handover link',
            classes: "govuk-!-display-inline govuk-!-margin-left-4"
          }) }}

          {{ govukButton({
            id: "copy-configuration-btn",
            text: 'Copy configuration',
            classes: "govuk-button--secondary govuk-!-display-inline govuk-!-margin-left-4",
            type: 'button'
          }) }}

          {{ govukButton({
            id: "paste-configuration-btn",
            text: 'Paste configuration',
            classes: "govuk-button--secondary govuk-!-display-inline govuk-!-margin-left-4",
            type: 'button'
          }) }}
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {{ govukDetails({
          summaryText: "What is this?",
          text: "Use the below sections to customise the handover session.
          This allows you to specify details about the subject, practioner, and version and criminogenic needs information.
          When ready, click 'Create handover link' to generate your unique, one-time link."
        }) }}

        {{ govukTabs({
        items: [
          {
            label: "Subject Details",
            id: "subject-details",
            panel: {
              html: subjectDetailsTab(options, fakerData)
            }
          },
          {
            label: "Practioner Details",
            id: "practioner-details",
            panel: {
                html: practionerDetailsTab(options, fakerData)
            }
          },
          {
            label: "Versions",
            id: "versions",
            panel: {
              html: versionsTab(options, fakerData)
            }
          },
          {
            label: "Criminogenic Needs",
            id: "criminogenicNeeds",
            panel: {
              html: criminogenicNeedsTab(options, fakerData)
            }
          }
        ]
        }) }}
      </div>
    </div>
  </form>
{% endblock %}